.font_2{
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.font_3{
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}
body{
 

  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

